# Part 4 Hypothesis Testing
Nokuthula Mchunu

The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

Hypothesis

Null Hypothesis:  MPAA rating of a movie (G/PG/PG-13/R) does not affect how much revenue the movie generates?

Alternative Hypothesis: MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

Using an alpha=.05

In [7]:
url ='/Users/noksmchunu/Downloads/Data/final_tmdb_data_2014.csv.gz'
df_2014 = pd.read_csv(url)
df_2014.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0329539,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,274341.0,en,Rice Girl,...,0.0,95.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"For Windy Yee, a big break in Hollywood can me...",Rice Girl,0.0,1.000,2.0,NaN
2,tt0365907,0.0,/isrro0soStk2tSWMsI50lPPhUsU.jpg,NaN,28000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,169917.0,en,A Walk Among the Tombstones,...,58834384.0,114.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some people are afraid of all the wrong things,A Walk Among the Tombstones,0.0,6.322,2655.0,R
3,tt0403935,0.0,/romORaZvZqMRjTPgw0HrAZpVn9V.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,308165.0,hi,एक्शन जैकसन,...,0.0,144.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,"Naa Commitment, Naa Appointment, Only Punishment!",Action Jackson,0.0,4.400,27.0,NaN
4,tt0424859,0.0,NaN,NaN,0.0,[],NaN,285294.0,en,The Ninth Cloud,...,0.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Even Reality can't stop Zena.,The Ninth Cloud,0.0,4.000,1.0,NaN